@import "tailwindcss";

@theme {
  --color-matte-black: #1a1a1a;
  --color-coyote-tan: #C2A382;
  --color-tactical-teal: #5A7D9A;

  --font-mono: var(--font-geist-mono);

  --animate-marquee: marquee 20s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(100%);
    }

    to {
      transform: translateX(-100%);
    }
  }
}

@utility tactical-clip {
  clip-path: polygon(15px 0%, 100% 0%,
      100% calc(100% - 15px), calc(100% - 15px) 100%,
      0% 100%, 0% 15px);
}

body {
  background-color: var(--color-matte-black);
  color: var(--color-coyote-tan);
  font-family: var(--font-mono);
}