@import "tailwindcss";

@theme {
  --color-matte-black: #0B0B0B;
  --color-coyote-tan: #C2A382;
  --color-tactical-teal: #5A7D9A;

  --font-mono: var(--font-jetbrains-mono);
}

@utility tactical-clip {
  clip-path: polygon(15px 0%, 100% 0%,
      100% calc(100% - 15px), calc(100% - 15px) 100%,
      0% 100%, 0% 15px);
}

body {
  background-color: var(--color-matte-black);
  color: var(--color-coyote-tan);
  font-family: var(--font-mono);
}